html{
    background-image: url(https://i.pinimg.com/564x/26/9c/1f/269c1f3e0e4eaea318227781cac9514e.jpg);
    -webkit-background-size:cover;
    background-repeat: no-repeat;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content-border{
    font-family: 'Krona One', sans-serif;
    text-align: center;
    margin-left: 600px;
    margin-right: 600px;
    color: rgba(0, 0, 0, 0.788);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10%;
    border-top: black;
}
#h2-2{
    border-color: transparent;
}
#h2-1{
    border-color: transparent;
}
.iframe1{
    border-radius: 10%;
    margin-left: 90px;
}
a{
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.363);
    width: 200px;
    border-radius: 10%;
    margin-left: 200px;
    margin-top: -300px;
    position: absolute;
    z-index: 2;
    text-decoration: none;

}
.iframe2{
    float:right ;
    margin-right: 90px;
    border-radius: 10%;
}

@media screen and (max-width:1589px) and (min-width:100px) and  (min-height:480px) and (max-height:919px) {
    html{
        overflow: hidden;
    }
    .content-border{
        border: 3px solid rgb(0, 0, 0);
        border-radius: 10%;
        border-top: black;
        text-align: top;
        margin: auto;
        margin-top: -130px;
        font-size: 10px;
        text-overflow: clip;
        color: black;
    }
    .iframe1{
        margin: auto;
        width: 350px;
        height: 300px;
    }
    .iframe2{
        margin: auto;
        width: 350px;
        height: 300px;
    }
    a{
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.658);
        font-size: 15px;
        margin-left: 90px;
        margin-top: -150px;
    }
}
